{% extends "basic_app/base.html" %}
{% block body_block %}
<title>Login</title>
<div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'user_login' %}" method="post">
      {% csrf_token %}
      <label for="username">UserName:</label>
      <input type="text" name="username">
      <label for="password">Password:</label>
      <input type="password" name="password" value="">
      <input type="submit" name="" value="Login" class="btn btn-success">
    </form>
</div>

{% endblock body_block %}
